@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table>
    <tr>
        <td> <h1>Create User Roles </h1></td>
    </tr>
    <tr>
        <td>
            <table>
                @foreach (var role in Model)
                {
                    <tr>
                        <td>
                            @role.Name
                        </td>
                    </tr>                  

                }
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <h1>@Html.ActionLink("Click to create Role", "Create", "AddProduct")</h1>
        </td>
    </tr>
</table>


