@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<section id="main">
    <p><br/>
        RackTaka was founded in 2008 and delivers goods at your doorstep.
        It also honors his tech background by employing a state
        of the art online ordering system that makes it easy for anybody with internet access to
        order his all natural, locally-sourced confections and have them delivered to their
        door within 24 hours.
    </p>
</section>

