@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<address id="main">
    <b>Rack Taka,</b><br />
    New Brand Factory,<br />
    Rajiv Nagar,<br />
    Bangalore.<br />
    <abbr title="Phone">P:</abbr>
    080 - 43567812
</address>

<address id="main">
    <strong>Support:</strong>   <a href="mailto:Support@racktaka.com">Support@racktaka.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@racktaka.com">Marketing@racktaka.com</a>
</address>